@import url("https://fonts.googleapis.com/css2?family=Murecho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&&display=swap");

.slidev-layout:lang(ja) {
  --font-title-family: "Murecho", sans-serif;
  --font-title-weight: 600;
  --font-main-family: "IBM Plex Sans JP", sans-serif;
  --font-main-weight: 400;
}

.slidev-layout:not(.override) {
  --color-fg-black: #333333;

  color: var(--color-fg-black);
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 25%),
      rgba(255, 255, 255, 25%)),
    url("../assets/default.svg");

  font-size: 28px;
  font-family: var(--font-main-family);
  font-weight: var(--font-main-weight);

  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 60px;
}

.slidev-layout:not(.override) h1,
h2,
h3 {
  font-family: var(--font-title-family);
}

.slidev-layout:not(.override) h1 {
  font-weight: var(--font-title-weight);
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.slidev-layout.default h2 {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 15px;
}

.slidev-layout:not(.override) p {
  line-height: 1.5;
}

.slidev-layout:not(.override) li {
  line-height: 1.7;
}

.slidev-layout:not(.override) strong {
  font-weight: 700;
}

.slidev-layout:not(.override) code {
  font-variant-ligatures: none;
}

.slidev-layout:not(.override) a {
  border-style: none;

  text-decoration: underline dashed 1.5px;
  text-underline-offset: 5px;
}

.slidev-layout.cover {
  background-image: url("../assets/cover.svg");
  font-family: var(--font-main-family);
  padding-left: 130px;
  padding-right: 180px;
}
