@import url("https://fonts.googleapis.com/css2?family=Murecho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap");

.slidev-layout:lang(ja) {
  --font-title-family: "Murecho", sans-serif;
  --font-title-weight: 600;
  --font-main-family: "IBM Plex Sans JP", sans-serif;
  --font-main-weight: 500;
}

.slidev-layout:not(.override) {
  color: #333333;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 25%),
      rgba(255, 255, 255, 25%)),
    url("../assets/default.svg");

  font-size: 28px;
  font-family: var(--font-main-family);
  font-weight: var(--font-main-weight);

  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 60px;
}

.slidev-layout:not(.override) h1,
h2,
h3 {
  font-family: var(--font-title-family);
}

.slidev-layout:not(.override) h1 {
  font-weight: var(--font-title-weight);
  font-size: 36px;
  line-height: 1.2;
}
