.shiki-light {
  font-variant-ligatures: none;
}

code::before,
code::after {
  content: "";
}
code {
  border-radius: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
pre.shiki-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
pre > code {
  font-size: 22px;
  line-height: 1.25;
  padding: 0;
}
strong > code {
  font-weight: 700;
  color: var(--fg-green-bold);
}
h1 > code {
  font-weight: 700;
  font-size: 0.9em;
}
h2 > code {
  font-size: 0.9em;
}
