/* @theme pycon2021 */
@import "default";

:root {
  font-family: "Trenda", "Uビュー R", "Noto Sans CJK JP";
  font-weight: 600;
  width: 1920px;
  height: 1080px;
  background-color: #febb11;
  color: #111;
}

h1 {
  color: #111;
}

table {
  background-color: #febb11;
}

a {
  color: #003366;
}

strong {
  font-weight: 900;
}

pre code {
  font-family: "Ricty Diminished Discord";
  font-weight: bold;
  color: #111;
}

pre code {
  font-family: "Ricty Diminished Discord";
  color: #111;
  background-color: #eee;
}

section.title {
  background-image: url("./images/scribleアートボード\ 1.png");
  text-align: right;
}

section.title h1 {
  font-family: "Trenda", "Uビュー R", "Noto Sans CJK JP";
  font-weight: 900;
  font-size: 130px;
  position: absolute;
  right: 150px;
  bottom: 250px;
}

section.title h2 {
  font-size: 75px;
  position: absolute;
  right: 50px;
  bottom: 0px;
}

section.agenda {
  background-image: url("./images/scribleアートボード\ 4.png");
  font-size: 50px;
  padding: 2%;
}

section.agenda h1 {
  font-weight: bold;
  font-size: 120px;
  position: relative;
  left: 2%;
  top: -10%;
  padding: 0%;
}

section.agenda h2 {
  font-weight: bold;
  font-size: 70px;
  position: relative;
  left: 2%;
  top: -10%;
  padding: 0%;
}

section.subtitle {
  background-image: url("./images/scribleアートボード\ 2.png");
}

section.subtitle h1 {
  font-weight: bold;
  font-size: 100px;
  padding: 50px;
  position: absolute;
  left: 50px;
  top: 250px;
}

section.subtitle h2 {
  font-weight: 600;
  font-size: 70px;
  position: absolute;
  left: 100px;
  top: 450px;
}

section.preface {
  font-size: 50px;
  background-image: url("./images/scribleアートボード\ 3.png");
  padding: 7%;
}

section.preface h1 {
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  top: 50px;
}

section.preface img {
  position: absolute;
  top: 5%;
  right: 0%;
}

section.full-img {
  background-image: url("./images/scribleアートボード\ 3.png");
}
section.full-img h1 {
  font-weight: bold;
  font-size: 80px;
}
section.full-img img {
  align-items: center;
}

section.pyconjp2020-cheers {
  font-size: 50px;
  background-image: url("./images/scribleアートボード\ 3.png");
  padding: 7%;
}

section.pyconjp2020-cheers h1 {
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  top: 50px;
}

section.pyconjp2020-cheers img {
  position: absolute;
  bottom: 30px;
}

section.see-you {
  font-size: 50px;
  background-image: url("./images/scribleアートボード\ 3.png");
  padding: 7%;
}

section.see-you img {
  position: absolute;
  left: 0%;
  bottom: 0%;
}

section.see-you h1 {
  font-weight: bold;
  font-size: 110px;
  position: absolute;
  top: 50px;
}

section.pyconjp2020-cheers img {
  position: absolute;
  bottom: 30px;
}

section.content {
  font-size: 50px;
  background-image: url("./images/scribleアートボード\ 3.png");
  padding: 8%;
}

section.content h1 {
  font-weight: bold;
  font-size: 80px;
  position: absolute;
  top: 50px;
}

section.epilogue h1 {
  font-weight: bold;
  font-size: 100px;
  padding: 50px;
}

section.epilogue h2 {
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  right: 50px;
}

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  color: #111;
  font-family: "Trenda";
  font-weight: 900;
  font-size: 40px;
}

/*
Gruvbox style (light) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fbf1c7;
}

.hljs,
.hljs-subst {
  color: #3c3836;
}

/* Gruvbox Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #9d0006;
}

/* Gruvbox Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #076678;
}

/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #b57614;
}

/* Gruvbox Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #af3a03;
}

/* Gruvbox Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #79740e;
}

/* Gruvbox Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #427b58;
}

/* Gruvbox Gray */
.hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}
