@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&display=swap");

@font-face {
  font-family: "Product Sans", "Noto Sans Japanese";
  src: url("../assets/fonts/ProductSans-Regular.ttf"),
    url("../assets/fonts/ProductSans-Light.ttf"),
    url("../assets/fonts/ProductSans-Medium.ttf"),
    url("../assets/fonts/ProductSans-Bold.ttf"),
    url("../assets/fonts/ProductSans-Black.ttf");
}

.slidev-layout:not(.override) {
  font-size: 14px;
  color: #3c4043;
}

.slidev-layout:not(.override) p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.slidev-layout:not(.override) ol>li,
ul>li {
  line-height: 2.25;
}

.slidev-layout:not(.override) ul {
  list-style-type: disc;
}

.slidev-layout:not(.override) ul>li>ul {
  list-style-type: circle;
  padding-left: 15px;
}

.slidev-layout:not(.override) ul>li>ul>li>ul {
  list-style-type: square;
  padding-left: 15px;
}

.slidev-layout:not(.override) h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 15px;
}

.slidev-layout:not(.override) h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.slidev-layout:not(.override) h1>code,
h2>code {
  color: #185abc;
  font-weight: 700 !important;
}

.slidev-layout:not(.override) strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.slidev-layout:not(.override) strong>code {
  font-weight: 600 !important;
  line-height: 1.25 !important;
}

.slidev-layout:not(.override) pre>code {
  font-size: 11px;
  font-weight: 500;
  font-variant-ligatures: none;
}

.slidev-layout:not(.override) code {
  padding-left: 1px;
  padding-right: 1px;
  color: #185abc;
  background: none;
  font-weight: 500;
  font-variant-ligatures: none;
}

.slidev-layout a,
a>code {
  color: #1a73e8;
  /*color: #fff !important; */
  border-style: none;
  text-decoration: underline 1px;
}

.slidev-layout:not(.override) sup.footnote-ref>a {
  color: #1a73e8 !important;
  border-style: inherit;
  text-decoration: inherit;
}

.slidev-layout:not(.override) hr.footnotes-sep {
  margin-top: 15px;
  margin-bottom: 5px;
}

.slidev-layout:not(.override) section.footnotes {
  font-size: 12px;
}

.slidev-layout:not(.override) section.footnotes>ol>li {
  line-height: 0.8;
}

.slidev-layout:not(.override) section.footnotes>ol>li>p {
  margin-top: 0px;
  margin-bottom: 0px;
}
